<ion-header>
  <ion-toolbar>
    <ion-title>To-Do List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Two-way binding for new task input -->
  <ion-input
    [(ngModel)]="newTodo"
    placeholder="Add a new task"
    debounce="500"
    clear-input
  ></ion-input>
  <ion-button expand="full" (click)="addTodo()">Add To-Do</ion-button>

  <!-- Using *ngFor for looping over tasks -->
  <ion-list>
    <div *ngFor="let todo of todos(); let i = index">
      <ion-item>
        <ion-label>{{ todo }}</ion-label>
        <ion-button color="danger" slot="end" (click)="removeTodo(i)">
          Delete
        </ion-button>
      </ion-item>
    </div>

    <!-- Show a message if no todos exist -->
    <div *ngIf="todos().length === 0">
      <ion-item>
        <ion-label>No tasks to show</ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
